.composer-wrapper {
  background-color: $light;
  position: absolute;
  top: $topbar-base-height;
  width: 100%;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: row;

  .sidebar {
    margin: 0;
    padding: 10px;
    overflow-y: auto;
    color: $dark;
    background-color: $light !important;

    &-left {
      width: 20%;
      @media screen and (max-width: 768px) {
        display: none;
      }

      .section-preview-list {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-overflow: ellipsis;
        margin-bottom: 10px;

        .section-controls {
          position: absolute;
          right: 0;
          display: none;
        }

        &:hover {
          background-color: $light;

          .section-controls {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    &-right {
      padding: 20px;
      width: 25%;
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
  }

  .editor-container {
    font-size: 1.1em;
    background-color: $light;
    width: 55%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;

    &-left {
      width: 75%;
    }

    &-right {
      width: 80%;
    }

    @media screen and (max-width: 991px) {
      width: 100%;
    }

    .title-input {
      height: 3rem;
      border: 3px transparent solid;
      color: $primary;
      font-size: 2rem;
      font-weight: bolder;

      &:hover, &:focus {
        border-bottom-color: $primary;
      }
    }

    .subtitle-input {
      height: 3rem;
      border: 3px transparent solid;
      color: $gray-600;
      font-size: 1.1rem;
      font-weight: bold;

      &:hover, &:focus {
        border-bottom-color: $primary;
      }
    }

    .section-title-input {
      width: 80%;
      border: 2px transparent solid;
      color: $primary;
      font-weight: bolder;
      font-size: larger;

      &:hover, &:focus {
        border-bottom-color: $primary;
      }
    }

    .section-input {
      width: 75%;
      border: 2px transparent solid;
      margin-bottom: 5px;

      &:hover, &:focus {
        border-bottom-color: $primary;
      }
    }
  }
}